POSTGRES_IMAGE=postgres:16
POSTGRES_CONTAINER_NAME=web-security-scanner-postgres
POSTGRES_HOST_PORT=5436
POSTGRES_CONTAINER_PORT=5432
POSTGRES_DB=web_security_scanner
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATA_PATH=./.docker/postgres-data
